<h1>Search for a pro!</h1>

<%= form_with url: "/pros/find", method: :post do |f| %>

  <p>Which prestation are you looking for?</p>
  <% @prestations.each do |prestation| %>
    <%= f.check_box :references, { multiple: true }, prestation.reference, nil %>
    <%= prestation.reference %>
  <% end %>

  <br \>
  <br \>
  <%= f.label :address, "Address:" %>
  <%= f.search_field :address %>

  <br \>
  <br \>
  <%= f.date_field :date %>
  <%= f.time_field :time %>

 <br \>
 <br \>
  <%= f.submit "Send" %>

<% end %>
